@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

.container {
  border: 1px solid rgb(163, 163, 163);
  box-sizing: border-box;
  width: 95%;
  height: 40em;
  margin: 10px auto;
  display: flex;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.47);
}
.left-block {
  max-width: 400px;
  width: 100%;
  border-right: 2px solid rgb(163, 163, 163);
  overflow-y: auto;
}

.left-block::-webkit-scrollbar {
  width: 10px;
  background-color: #f9f9fd;
}

.left-block::-webkit-scrollbar-thumb {
  background-color: #777777;
  border-radius: 5px;
}
